.custom-navbar {
  background-color: #1f1f1f;
  padding: 0.5rem 1rem;
}

.custom-navbar .navbar-brand {
  font-weight: bold;
  color: #fff !important;
  font-size: 1.5rem;
  text-decoration: none;
}

.custom-navbar .button-group .btn {
  border-radius: 20px;
  padding: 0.4rem 1rem;
  font-weight: 500;
  text-decoration: none;
}

.custom-navbar .button-group .btn-outline-light {
  color: #fff;
  border: 1px solid #fff;
}

.custom-navbar .button-group .btn-outline-light:hover {
  background-color: #fff;
  color: #000;
}

.custom-navbar .button-group .btn-light:hover {
  background-color: #e0e0e0;
}
